<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="61f5df">  <td>18/07/17 17:08:05</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CreateNewVideoTest.addSetup()[pri:0, instance:test.java.CreateNewVideoTest@2b98378d]">&gt;&gt;addSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1846896625</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>18/07/17 17:08:24</td>   <td>19446</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CreateNewVideoTest.closeDriver()[pri:0, instance:test.java.CreateNewVideoTest@2b98378d]">&lt;&lt;closeDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1846896625</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>18/07/17 17:08:12</td>   <td>6737</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateNewVideoTest.createNewVideo2()[pri:2, instance:test.java.CreateNewVideoTest@2b98378d]">createNewVideo2</td> 
  <td>main@1846896625</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>18/07/17 17:08:12</td>   <td>6678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateNewVideoTest.login_Success()[pri:1, instance:test.java.CreateNewVideoTest@2b98378d]">login_Success</td> 
  <td>main@1846896625</td>   <td></td> </tr>
</table>
