<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.java.LogoutTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>logoutWithYes_success</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login_Success</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>logoutWithNo_success</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addSetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeDriver</td>
<td>&nbsp;</td></tr>
<tr>
<td>test.java.LoginPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkInvalidEmail_Failure</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkBlankEmail_Failure</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkExistingEmail_Success</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkNotExistingEmail_Failure</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addSetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeDriver</td>
<td>&nbsp;</td></tr>
<tr>
<td>test.java.ForgotPasswordPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>checkInvalidEmail_Failure</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkCancel_Success</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkExisitingEmail_Success</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkBlankEmail_Failure</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>checkNotExistingEmail_Failure</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addSetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeDriver</td>
<td>&nbsp;</td></tr>
<tr>
<td>test.java.ManageUsersPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>unpublish</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>publish</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>login_Success</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>addSetup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeDriver</td>
<td>&nbsp;</td></tr>
</table>
