<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a097cc">  <td>18/07/11 12:21:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ManageUsersPageTest.addSetup()[pri:0, instance:test.java.ManageUsersPageTest@1d057a39]">&gt;&gt;addSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>18/07/11 12:21:26</td>   <td>10332</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageUsersPageTest.login_Success()[pri:1, instance:test.java.ManageUsersPageTest@1d057a39]">login_Success</td> 
  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>18/07/11 12:21:30</td>   <td>14861</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginPageTest.addSetup()[pri:0, instance:test.java.LoginPageTest@26be92ad]">&gt;&gt;addSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="f6e879">  <td>18/07/11 12:21:38</td>   <td>22452</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginPageTest.checkBlankEmail_Failure()[pri:1, instance:test.java.LoginPageTest@26be92ad]">checkBlankEmail_Failure</td> 
  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>18/07/11 12:21:41</td>   <td>25777</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ForgotPasswordPageTest.addSetup()[pri:0, instance:test.java.ForgotPasswordPageTest@4c70fda8]">&gt;&gt;addSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="61f5df">  <td>18/07/11 12:21:49</td>   <td>33677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ForgotPasswordPageTest.checkBlankEmail_Failure()[pri:1, instance:test.java.ForgotPasswordPageTest@4c70fda8]">checkBlankEmail_Failure</td> 
  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="b57a94">  <td>18/07/11 12:21:52</td>   <td>37062</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LogoutTest.addSetup()[pri:0, instance:test.java.LogoutTest@224edc67]">&gt;&gt;addSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="b57a94">  <td>18/07/11 12:21:59</td>   <td>43237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LogoutTest.login_Success()[pri:1, instance:test.java.LogoutTest@224edc67]">login_Success</td> 
  <td>main@1164371389</td>   <td></td> </tr>
<tr bgcolor="a097cc">  <td>18/07/11 12:21:59</td>   <td>43282</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ManageUsersPageTest.publish()[pri:2, instance:test.java.ManageUsersPageTest@1d057a39]">publish</td> 
  <td>main@1164371389</td>   <td></td> </tr>
</table>
